.flex .flex-horizontal .flex-vertical {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.even-spacing {
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > Link > button {
  width: 4em;
}